@land-color: #f2f2f7;

@standard-halo-radius: 1;
@standard-halo-fill: #ededf2;

@standard-text-fill: #2c2c2e;

@book-fonts: 'Noto Sans TC', sans-serif;
@bold-fonts: 'Noto Sans TC', sans-serif;
@oblique-fonts: 'Noto Sans TC', sans-serif;
