#ocean-lz,
#ocean {
  --polygon-fill: @water-color;
}

#icesheet-poly {
  &:zoom(5) {
    --polygon-fill: @glacier;
  }
}

#icesheet-outlines {
  &:zoom(5) {
    &[ice_edge='ice_ocean'],
    &[ice_edge='ice_land'] {
      --line-width: zoom-gradient(1, 0.5 8z 9z, 0.75 10z);
      --line-color: @glacier-line;
      &:zoom(10) {
        --line-dasharray: 4, 2;
      }
    }
  }
}
