@power-line-color: #888888;

#power-line {
  &:zoom(12) {
    --line-width: 0.5;
    --line-opacity: zoom-gradient(1, 1 12z, 0 16z);
    --line-color: @power-line-color;
  }
}

#power-minorline {
  &:zoom(12) {
    --line-width: 0.3;
    --line-opacity: zoom-gradient(1, 1 12z, 0 16z);
    --line-color: @power-line-color;
  }
}

#power-towers {
  &[power='tower'] {
    --marker-file: zoom-gradient("url('symbols/man_made/power_tower_small.svg')" 14z, "url('symbols/man_made/power_tower.svg')" 15z);
    --marker-width: zoom-gradient(3 14z, 5 15z 16z, 7 17z);
  }

  &[power='pole']:zoom(16) {
    --marker-file: "url('symbols/square.svg')";
    --marker-fill: #928f8f;
    --marker-width: 3;
  }
}
