@building-fill: #dae6f1;
@building-line: darken(@building-fill, 8%);

@building-major-fill: darken(@building-fill, 10%);
@building-major-line: darken(@building-major-fill, 15%);
@building-major-z15: darken(@building-major-fill, 5%);
@building-major-z14: darken(@building-major-fill, 10%);

@entrance-permissive: darken(@building-line, 15%);
@entrance-normal: @building-line;

#buildings {
  &:zoom(13) {
    --polygon-fill: @building-fill;
    --polygon-opacity: zoom-gradient(0.25 13z, 1 15z);
    &:zoom(15) {
      --line-color: @building-line;
      --line-width: 0.75;
    }
    &[amenity='place_of_worship'],
    &[aeroway='terminal'],
    &[aerialway='station'],
    &[building='train_station'],
    &[public_transport='station'] {
      --polygon-fill: @building-major-z14;
      &:zoom(15) {
        --polygon-fill: zoom-gradient(@building-major-z15, @building-major-fill 16z);
        --line-color: @building-major-line;
      }
    }
  }
}

#bridge {
  &:zoom(12) {
    --polygon-fill: #b8b8b8;
  }
}

#entrances {
  --marker-width: zoom-gradient(5 18z 19z, 8 20z);
  --marker-height: zoom-gradient(5 18z 19z, 8 20z);
  &:zoom(18) {
    --marker-fill: @entrance-normal;
    --marker-allow-overlap: true;
    --marker-ignore-placement: true;
    --marker-file: "url('symbols/rect.svg')";
    --marker-opacity: 0;
    &[entrance='main'] {
      --marker-opacity: 1;
      --marker-file: "url('symbols/square.svg')";
    }
  }
  &:zoom(19) {
    &[entrance='yes'],
    &[entrance='main'],
    &[entrance='home'],
    &[entrance='service'],
    &[entrance='staircase'],
    &[entrance='shop'] {
      --marker-opacity: 1;
      --marker-width: 6;
      --marker-height: 6;
      &[entrance='service'] {
        --marker-file: "url('symbols/corners.svg')";
      }
    }
    &[access='yes'],
    &[access='permissive'] {
      --marker-fill: @entrance-permissive;
    }
    &[access='no'] {
      --marker-fill: @entrance-normal;
      --marker-file: "url('symbols/rectdiag.svg')";
    }
  }
}
