@station-color: #50b7d4;
@station-text: darken(saturate(@station-color, 15%), 10%);

#stations {
  &[railway='subway_entrance']:zoom(18) {
    --marker-fill: @transportation-icon;
    --marker-clip: false;
    &:zoom(19) {
      --text-name: '▣[ref]';
      --text-face-name: @book-fonts;
      --text-size: 10;
      --text-fill: @transportation-text;
      --text-halo-radius: @standard-halo-radius * 1.5;
      --text-halo-fill: @standard-halo-fill;
      --text-wrap-width: 0;
    }
  }

  &[railway='station']:zoom(12) {
    --marker-fill: @station-color;
    --marker-clip: false;
    &:not([station='subway']) {
      --marker-width: 4;
      --marker-scale: zoom-gradient(1 12z, 1.5 13z, 2.25 15z);
    }
    &[station='subway']:zoom(14) {
      --marker-width: 6;
      --marker-scale: zoom-gradient(1 14z, 1.5 16z);
    }
    &:not([station='subway']):zoom(14),
    &:zoom(15) {
      --text-name: '■[name]';
      --text-face-name: @bold-fonts;
      --text-size: 8;
      --text-scale: zoom-gradient(1 14z 15z, 1.25 16z);
      --text-fill: @station-text;
      --text-halo-radius: @standard-halo-radius * 1.5;
      --text-halo-fill: @standard-halo-fill;
      --text-wrap-width: 50;
      --text-line-spacing: -1.5; // -0.15 em
    }
    &:not([station='subway']):zoom(15),
    &:zoom(16) {
      --text-line-spacing: -1.65; // -0.15 em
    }
  }

  &[railway='halt'] {
    &:zoom(13) {
      --marker-fill: @station-color;
      --marker-width: 4;
      --marker-scale: zoom-gradient(1 13z, 1.5 15z);
      --marker-clip: false;
    }
    &:zoom(15) {
      --text-name: '[name]';
      --text-face-name: @bold-fonts;
      --text-size: @standard-font-size;
      --text-fill: @station-text;
      --text-halo-radius: @standard-halo-radius * 1.5;
      --text-halo-fill: @standard-halo-fill;
      --text-wrap-width: @standard-wrap-width;
      --text-line-spacing: @standard-line-spacing-size;
    }
  }

  &[aerialway='station']::aerialway {
    &:zoom(13) {
      --marker-fill: @station-color;
      --marker-width: 4;
      --marker-clip: false;
    }
    &:zoom(15) {
      --marker-width: 6;
    }
    &:zoom(14) {
      --text-name: '[name]';
      --text-face-name: @book-fonts;
      --text-size: @standard-font-size;
      --text-fill: @station-text;
      --text-halo-radius: @standard-halo-radius * 1.5;
      --text-halo-fill: @standard-halo-fill;
      --text-wrap-width: @standard-wrap-width;
      --text-line-spacing: @standard-line-spacing-size;
    }
  }

  &[railway='tram_stop'] {
    &:zoom(14) {
      --marker-fill: @station-color;
      --marker-width: 4;
      --marker-scale: zoom-gradient(1 14z, 1.5 15z);
      --marker-clip: false;
    }
    &:zoom(16) {
      --text-name: '[name]';
      --text-face-name: @book-fonts;
      --text-size: @standard-font-size;
      --text-fill: @station-text;
      --text-halo-radius: @standard-halo-radius * 1.5;
      --text-halo-fill: @standard-halo-fill;
      --text-wrap-width: @standard-wrap-width;
      --text-line-spacing: @standard-line-spacing-size;
    }
  }
}
