@aerialway-line: @neutral-600;
@aerialway-line-light: @neutral-500;
@aerialway-line-mid: #909090;
@aerialway-center: @neutral-300;
@aerialway-center-warm: #cfbfa5;
@aerialway-text: @text-tertiary;

#aerialways {
  &[aerialway='cable_car'],
  &[aerialway='gondola'],
  &[aerialway='mixed_lift'] {
    &:zoom(12) {
      --line__line-width: 0.2;
      --line__line-join: round;
      --line__line-cap: round;
      --line__line-color: @cable;

      --dash__line-width: 0.6;
      --dash__line-join: round;
      --dash__line-cap: round;
      --dash__line-color: @cable-dash;
      --dash__line-dasharray: 0.4, 13;
      --dash__line-clip: false;
    }
  }

  &[aerialway='goods'] {
    &:zoom(12) {
      --line__line-width: 1;
      --line__line-join: round;
      --line__line-cap: round;
      --line__line-color: @aerialway-line;
    }
  }

  &[aerialway='chair_lift'],
  &[aerialway='drag_lift'],
  &[aerialway='t-bar'],
  &[aerialway='j-bar'],
  &[aerialway='platter'],
  &[aerialway='rope_tow'],
  &[aerialway='zip_line'] {
    &:zoom(12) {
      --line__line-width: 1;
      --line__line-join: round;
      --line__line-cap: round;
      --line__line-color: @cable;

      --dash__line-width: 4;
      --dash__line-join: round;
      --dash__line-color: @cable-dash;
      --dash__line-dasharray: 1, 30;
      --dash__line-clip: false;
    }
  }

  &[man_made='goods_conveyor'] {
    &:zoom(14) {
      --line__line-width: 0.7;
      --line__line-scale: zoom-gradient(1, (1 / 0.7) 16z);
      --line__line-join: round;
      --line__line-cap: round;
      --line__line-color: @aerialway-line-light;

      --dash__line-width: 2;
      --dash__line-scale: zoom-gradient(1, 1.5 16z);
      --dash__line-join: round;
      --dash__line-color: @aerialway-line-light;
      --dash__line-dasharray: 4, 6;

      &:zoom(16) {
        --dash__line-dasharray: 6, 6;
      }
    }
  }

  &[man_made='pipeline'] {
    &:zoom(14) {
      --line__line-width: 0.7;
      --line__line-scale: zoom-gradient(1, (1 / 0.7) 15z, (1.5 / 0.7) 16z, (2 / 0.7) 17z, (3 / 0.7) 18z, (4 / 0.7) 19z);
      --line__line-join: round;
      --line__line-color: @aerialway-line-mid;
      --line__line-dasharray: 0, 0.7, 14, 0.7;
      --dash__line-width: 2;
      --dash__line-scale: zoom-gradient(1, 1.25 15z, 1.5 16z, 2 17z, 2.5 18z, 3 19z);
      --dash__line-join: round;
      --dash__line-color: @aerialway-line-mid;
      --dash__line-dasharray: 0, 0.7, 0.7, 12.6, 0.7, 0.7;
      --center__line-width: 1;
      --center__line-scale: zoom-gradient(1 17z, 2 18z, 3 19z);
      &:zoom(15) {
        --line__line-dasharray: 0, 0.7, 16, 0.7;
        --dash__line-dasharray: 0, 0.7, 0.7, 14.6, 0.7, 0.7;
      }
      &:zoom(16) {
        --line__line-dasharray: 0, 1, 20, 1;
        --dash__line-dasharray: 0, 1, 1, 18, 1, 1;
      }
      &:zoom(17) {
        --line__line-dasharray: 0, 1, 24, 1;
        --dash__line-dasharray: 0, 1, 1, 22, 1, 1;
        --center__line-dasharray: 0, 2, 22, 2;
        --center__line-color: @land-color;
        --center__line-join: round;
        &[substance='water'] {
          --center__line-color: @water-color;
        }
        &[substance='gas'] {
          --center__line-color: @aerialway-center;
        } // Lch(78,0,0)
        &[substance='oil'] {
          --center__line-color: @aerialway-center-warm;
        } // Lch(78,15,83)
      }
      &:zoom(18) {
        --line__line-dasharray: 0, 1, 30, 1;
        --dash__line-dasharray: 0, 1, 1, 28, 1, 1;
        --center__line-dasharray: 0, 2, 28, 2;
      }
      &:zoom(19) {
        --line__line-dasharray: 0, 1, 36, 1;
        --dash__line-dasharray: 0, 1, 1, 34, 1, 1;
        --center__line-dasharray: 0, 2, 34, 2;
      }
    }
  }
}

#text-line {
  &[feature='aerialway_cable_car'],
  &[feature='aerialway_gondola'],
  &[feature='aerialway_mixed_lift'],
  &[feature='aerialway_goods'],
  &[feature='aerialway_chair_lift'],
  &[feature='aerialway_drag_lift'],
  &[feature='aerialway_t-bar'],
  &[feature='aerialway_j-bar'],
  &[feature='aerialway_platter'],
  &[feature='aerialway_rope_tow'],
  &[feature='aerialway_zip_line'],
  &[feature='man_made_pipeline'] {
    &:zoom(17) {
      --text-name: '[name]';
      --text-fill: @aerialway-text;
      --text-size: 10;
      --text-scale: zoom-gradient(1, 1.1 19z);
      --text-dy: zoom-gradient(4, 5 19z);
      --text-spacing: 900;
      --text-clip: false;
      --text-placement: line;
      --text-repeat-distance: 200;
      --text-margin: 18;
      --text-face-name: @book-fonts;
      --text-halo-radius: @standard-halo-radius;
      --text-halo-fill: @standard-halo-fill;
      &[feature='man_made_pipeline'] {
        --text-dy: zoom-gradient(6, 7 18z, 8 19z);
      }
    }
  }
}
