@admin-boundaries: #333036;
@admin-boundaries-narrow: #4c494f;
@admin-boundaries-wide: #7b797e;

/* For performance reasons, the admin border layers are split into three groups
for low, middle and high zoom levels.
Three attachments are used, with minor borders before major ones, and the thin centerline last, to handle
overlapping borders correctly and allow each type to have a different level of opacity.
Overlapping borders are hidden by a white background line, rendered before each line.
Then all three layers are added to the rendering with comp-op: darken, so that the white lines will not show
*/

#admin-low-zoom:zoom(*, 7),
#admin-mid-zoom:zoom(8, 12),
#admin-high-zoom:zoom(13) {
  &[admin_level='2']::firstline {
    --background__line-width: zoom-gradient(3 8z, 3.5 9z, 4.5 10z, 5.5 11z, 6 12z, 7 13z, 8 14z);
    &:zoom(8) {
      --background__line-join: bevel;
      --background__line-color: white;
    }
  }
  &[admin_level='2']::wideline {
    --background__line-width: zoom-gradient(1.2 4z, 1.5 5z, 1.8 6z, 2.2 7z, 3 8z, 3.5 9z, 4.5 10z, 5.5 11z, 6 12z, 7 13z, 8 14z);
    --line-color: zoom-gradient(@admin-boundaries 4z 9z, @admin-boundaries-wide 10z);
    --line-width: zoom-gradient(1.2 4z, 1.5 5z, 1.8 6z, 2.2 7z, 3 8z, 3.5 9z, 4.5 10z, 5 11z, 6 12z, 7 13z, 8 14z);
    &:zoom(4) {
      --background__line-join: bevel;
      --background__line-color: white;
      --line-join: bevel;
    }
  }
  &[admin_level='2']::narrowline {
    --background__line-width: zoom-gradient(0.6 8z, 0.8 9z, 1 10z, 1.2 11z, 1.4 12z, 1.6 13z, 1.8 14z);
    --thin__line-width: zoom-gradient(0.6 8z, 0.8 9z, 1 10z, 1.2 11z, 1.4 12z, 1.6 13z, 1.8 14z);
    &:zoom(8) {
      --background__line-join: bevel;
      --background__line-color: white;
      --thin__line-join: bevel;
      --thin__line-color: @admin-boundaries-narrow;
    }
    &:zoom(10) {
      --thin__line-dasharray: 18, 1, 4, 1;
    }
    &:zoom(12) {
      --thin__line-dasharray: 27, 1.5, 6, 1.5;
    }
    &:zoom(14) {
      --thin__line-dasharray: 36, 2, 8, 2;
    }
  }

  &[admin_level='3']::firstline {
    --background__line-width: zoom-gradient(1.8 8z, 2.5 9z, 3.2 10z, 4 11z, 4.5 12z, 5 13z, 5.5 14z);
    &:zoom(8) {
      --background__line-join: bevel;
      --background__line-color: white;
    }
  }
  &[admin_level='3']::wideline {
    --background__line-width: zoom-gradient(0.6 4z, 0.8 5z, 1 6z, 1.2 7z, 1.8 8z, 2.5 9z, 3.2 10z, 4 11z, 4.5 12z, 5 13z, 5.5 14z);
    --line-color: zoom-gradient(@admin-boundaries 4z 9z, @admin-boundaries-wide 10z);
    --line-width: zoom-gradient(0.6 4z, 0.8 5z, 1 6z, 1.2 7z, 1.8 8z, 2.5 9z, 3.2 10z, 4 11z, 4.5 12z, 5 13z, 5.5 14z);
    &:zoom(4) {
      --background__line-join: bevel;
      --background__line-color: white;
      --line-join: bevel;
    }
  }
  &[admin_level='3']::narrowline {
    --background__line-width: zoom-gradient(0.8 10z, 1 11z, 1.2 12z, 1.4 13z, 1.6 14z);
    --thin__line-width: zoom-gradient(0.8 10z, 1 11z, 1.2 12z, 1.4 13z, 1.6 14z);
    &:zoom(10) {
      --background__line-join: bevel;
      --background__line-color: white;
      --thin__line-join: bevel;
      --thin__line-color: @admin-boundaries-narrow;
      --thin__line-dasharray: 12, 2, 1.5, 2;
    }
    &:zoom(12) {
      --thin__line-dasharray: 17, 3, 2, 3;
    }
    &:zoom(14) {
      --thin__line-dasharray: 23, 4, 3, 4;
    }
  }

  &[admin_level='4']::firstline {
    --background__line-width: zoom-gradient(1 8z, 1.5 9z, 2 10z, 2.5 11z, 3 12z, 3.5 13z, 4 14z);
    &:zoom(8) {
      --background__line-join: bevel;
      --background__line-color: white;
    }
  }
  &[admin_level='4']::wideline {
    --background__line-width: zoom-gradient(0.4 4z, 0.5 5z, 0.6 6z, 0.8 7z, 1 8z, 1.5 9z, 2 10z, 2.5 11z, 3 12z, 3.5 13z, 4 14z);
    --line-color: zoom-gradient(@admin-boundaries 4z 9z, @admin-boundaries-wide 10z);
    --line-width: zoom-gradient(0.4 4z, 0.5 5z, 0.6 6z, 0.8 7z, 1 8z, 1.5 9z, 2 10z, 2.8 11z, 3 12z, 3.5 13z, 4 14z);
    &:zoom(4) {
      --background__line-join: bevel;
      --background__line-color: white;
      --line-join: bevel;
      --line-clip: false;
    }
  }
  &[admin_level='4']::narrowline {
    --background__line-width: zoom-gradient(0.6 10z, 0.8 11z, 1 12z, 1.2 13z, 1.4 14z);
    --thin__line-width: zoom-gradient(0.6 10z, 0.8 11z, 1 12z, 1.2 13z, 1.4 14z);
    &:zoom(10) {
      --background__line-join: bevel;
      --background__line-color: white;
      --thin__line-color: @admin-boundaries-narrow;
      --thin__line-dasharray: 8, 2, 1.5, 2, 1.5, 2;
    }
    &:zoom(12) {
      --thin__line-dasharray: 12, 3, 2, 3, 2, 3;
    }
    &:zoom(14) {
      --thin__line-dasharray: 16, 4, 3, 4, 3, 4;
    }
  }
  &::firstline {
    --opacity: 0.5;
  }
  &::wideline {
    --opacity: 0.5;
  }
  &::narrowline {
    --opacity: 0.6;
  }
  /*
  The following code prevents admin boundaries from being rendered on top of
  each other. Comp-op works on the entire attachment, not on the individual
  border. Therefore, this code generates an attachment containing a set of
  @admin-boundaries/white dashed lines (of which only the top one is visible),
  and with `comp-op: darken` the white part is ignored, while the
  @admin-boundaries colored part is rendered (as long as the background is not
  darker than @admin-boundaries).
  The SQL has `ORDER BY admin_level`, so the boundary with the lowest
  admin_level is rendered on top, and therefore the only visible boundary.
  */
  &::firstline,
  &::wideline,
  &::narrowline {
    --comp-op: darken;
  }

  &[admin_level='5']:zoom(8)::firstline {
    --background__line-join: bevel;
    --background__line-color: white;
    --background__line-width: zoom-gradient(0.6, 0.8 9z, 1.2 10z, 1.7 11z, 2.1 12z 13z, 2.4 14z);
    --line-join: bevel;
    --line-color: @admin-boundaries;
    --line-width: zoom-gradient(0.6, 0.8 9z, 1.2 10z, 1.7 11z, 2.1 12z 13z, 2.4 14z);
    --line-dasharray: 4, 0.6, 2, 0.6;
    --line-clip: false;
    &:zoom(9) {
      --line-dasharray: 6, 1, 3, 1;
    }
    &:zoom(10) {
      --line-dasharray: 10, 1.5, 4.5, 1.5;
    }
    &:zoom(12) {
      --line-dasharray: 16, 2, 6, 2;
    }
    &:zoom(14) {
      --line-dasharray: 20, 2, 8, 2;
    }
  }
  &[admin_level='6']:zoom(10)::firstline {
    --background__line-join: bevel;
    --background__line-color: white;
    --background__line-width: zoom-gradient(1, 1.4 11z, 1.8 12z 13z, 2.1 14z);
    --line-join: bevel;
    --line-color: @admin-boundaries;
    --line-width: zoom-gradient(1, 1.4 11z, 1.8 12z 13z, 2.1 14z);
    --line-dasharray: 8, 1.5, 1.5, 1.5;
    --line-clip: false;
    &:zoom(12) {
      --line-dasharray: 12, 1.5, 2, 1.5;
    }
    &:zoom(14) {
      --line-dasharray: 16, 2, 3, 2;
    }
  }
  &[admin_level='7']::firstline {
    --background__line-width: zoom-gradient(1.2 11z, 1.5 12z 13z, 1.8 14z);
    --line-width: zoom-gradient(1.2 11z, 1.5 12z 13z, 1.8 14z);
    &:zoom(11) {
      --background__line-join: bevel;
      --background__line-color: white;
      --line-join: bevel;
      --line-color: @admin-boundaries;
      --line-dasharray: 6, 1.5, 1.5, 1.5, 1.5, 1.5;
      --line-clip: false;
    }
    &:zoom(12) {
      --line-dasharray: 9, 2, 2, 2, 2, 2;
    }
    &:zoom(14) {
      --line-dasharray: 12, 2, 3, 2, 3, 2;
    }
  }
  &[admin_level='8']::firstline {
    --background__line-width: zoom-gradient(1.4 12z 13z, 1.6 14z);
    --line-width: zoom-gradient(1.4 12z 13z, 1.6 14z);
    &:zoom(12) {
      --background__line-join: bevel;
      --background__line-color: white;
      --line-join: bevel;
      --line-color: @admin-boundaries;
      --line-dasharray: 8, 2, 2, 2, 2.5, 2, 2, 2;
      --line-clip: false;
    }
    &:zoom(14) {
      --line-dasharray: 10, 2, 2, 2, 3, 2, 2, 2;
    }
  }

  &[admin_level='9']:zoom(13)::firstline {
    --background__line-join: bevel;
    --background__line-color: white;
    --background__line-width: zoom-gradient(1.2, 1.4 14z);
    --line-join: bevel;
    --line-color: @admin-boundaries;
    --line-width: zoom-gradient(1.2, 1.4 14z);
    --line-dasharray: 0, 3, 2, 2, 2, 2, 2, 3;
    --line-clip: false;
    &:zoom(14) {
      --line-dasharray: 0, 4, 2, 2, 3, 2, 2, 4;
    }
  }
  &[admin_level='10']:zoom(14)::firstline {
    --background__line-join: bevel;
    --background__line-color: white;
    --background__line-width: 1.2;
    --line-join: bevel;
    --line-color: @admin-boundaries;
    --line-width: 1.2;
    --line-dasharray: 0, 3, 2, 2, 2, 3;
    --line-clip: false;
  }
}

#admin-text:zoom(11) {
  &[admin_level='1'],
  &[admin_level='2'],
  &[admin_level='3']:zoom(11),
  &[admin_level='4']:zoom(11),
  &[admin_level='5']:zoom(11),
  &[admin_level='6']:zoom(12),
  &[admin_level='7']:zoom(13),
  &[admin_level='8']:zoom(14),
  &[admin_level='9']:zoom(15),
  &:zoom(16) {
    --text-name: '[name]';
    --text-face-name: @book-fonts;
    --text-fill: @state-labels;
    &[admin_level='6'] {
      --text-fill: @county-labels;
    }
    --text-halo-radius: @standard-halo-radius;
    --text-halo-fill: @standard-halo-fill;
    --text-largest-bbox-only: false;
    --text-placement: line;
    --text-spacing: 750;
    --text-repeat-distance: 250;
    --text-margin: 10;
    --text-clip: true;
    --text-vertical-alignment: middle;
    --text-dy: -10;
  }
}

#protected-areas-text:zoom(13) {
  --text-name: '[name]';
  --text-face-name: @book-fonts;
  --text-fill: @protected-area;
  &[boundary='aboriginal_lands'] {
    --text-fill: @aboriginal;
  }
  --text-halo-radius: @standard-halo-radius;
  --text-halo-fill: @standard-halo-fill;
  --text-largest-bbox-only: false;
  --text-placement: line;
  --text-spacing: 750;
  --text-repeat-distance: 250;
  --text-margin: 10;
  --text-clip: true;
  --text-vertical-alignment: middle;
  --text-dy: -10;
}

#protected-areas {
  &:zoom(8, 9) {
    --opacity: 0.25;
    --line-width: zoom-gradient(1.2, 1.5 9z);
    --line-color: @protected-area;
    &[boundary='aboriginal_lands'] {
      --line-color: @aboriginal;
    }
  }
  &:zoom(10) {
    // inner line
    &::wideline {
      --opacity: 0.15;
      --line-width: zoom-gradient(3.6, 4 12z 13z, 6 14z);
      // Unlike planet_osm_line, planet_osm_polygon does not preserves the
      // original direction of the OSM way: Following OGS at
      // https://www.opengeospatial.org/standards/sfa always at the left
      // is the interior and at the right the exterior of the polygon.(This
      // also applies to inner rings of multipolygons.) So a negative
      // line-offset is always an offset to the inner side of the polygon.
      --line-offset: -0.9;
      --line-color: @protected-area;
      &[boundary='aboriginal_lands'] {
        --line-color: @aboriginal;
      }
      --line-join: round;
      --line-cap: round;
      --line-offset: zoom-gradient(-1 12z 13z, -2 14z);
    }
    // outer line
    &::narrowline {
      --opacity: 0.15;
      --line-width: zoom-gradient(1.8, 2 12z);
      --line-color: @protected-area;
      &[boundary='aboriginal_lands'] {
        --line-color: @aboriginal;
      }
      --line-join: round;
      --line-cap: round;
    }
  }
}
