/* Features related to (postal) adresses: */

@address-color: @text-tertiary;

#interpolation {
  &:zoom(17) {
    --line-color: @address-color;
    --line-width: 1;
    --line-dasharray: 2, 4;
  }
}

#addresses {
  &:zoom(17) {
    --text-name: '[addr_housename]';
    &:not([addr_housenumber='null']) {
      --text-name: [addr_housenumber];
      &:not([addr_housename='null']) {
        --text-name: '[addr_housenumber] [addr_housename]';
      }
    }
    --text-face-name: @book-fonts;
    --text-fill: @address-color;
    --text-halo-radius: @standard-halo-radius;
    --text-halo-fill: @standard-halo-fill;
    --text-size: 10;
    --text-scale: zoom-gradient(1, 1.1 20z);
    --text-wrap-width: zoom-gradient(30, 22 20z);
    --text-line-spacing: -1.5;
    --text-margin: 3;
    &:zoom(18) {
      --text-halo-radius: @standard-halo-radius * 1.25;
      &:not([addr_unit='null'])[addr_housenumber='null'] {
        --text-name: '[addr_unit]';
      }
      &:not([addr_flats='null'])[addr_housenumber='null'] {
        --text-name: '[addr_flats]';
      }
      &:not([addr_unit='null']) {
        --text-name: '[addr_housenumber] [addr_unit]';
        &:not([addr_housename='null']) {
          --text-name: '[addr_housenumber] [addr_unit] [addr_housename]';
        }
      }
      &:not([addr_flats='null']) {
        --text-name: '[addr_housenumber] [addr_flats]';
        &:not([addr_housename='null']) {
          --text-name: '[addr_housenumber] [addr_flats] [addr_housename]';
        }
      }
    }
    &:zoom(20) {
      --text-line-spacing: -1.65;
      --text-margin: 3.3;
    }
  }
}

/* Building names (rendered differently from addresses because they are no official postal addresses) */

#building-text {
  &:zoom(14) {
    --text-name: '[name]';
    --text-face-name: @book-fonts;
    --text-fill: @text-secondary;
    --text-halo-radius: @standard-halo-radius;
    --text-halo-fill: @standard-halo-fill;
    --text-size: 11;
    --text-wrap-width: 22;
    --text-line-spacing: -1.65;
  }
}
