@golf-color: #666;

#landcover:zoom(12) {
  &:zoom(12)::high-zoom {
    &[feature='golf_tee'],
    &[feature='golf_fairway'],
    &[feature='golf_rough'],
    &[feature='golf_driving_range'] {
      --polygon-fill: @grass;
    }
  }
  &:zoom(13)::high-zoom {
    &[feature='golf_green'] {
      --polygon-fill: @pitch;
    }
    &[feature='golf_bunker'] {
      --polygon-fill: @sand;
    }
  }
  &:zoom(15)::high-zoom {
    &[feature='golf_rough'] {
      --polygon-pattern-file: "url('symbols/golf_rough.svg')";
    }
  }
}

#golf-line:zoom(16) {
  &[golf='hole'] {
    --line-color: @golf-color;
    --line-width: 0.5;
  }
}

// Note that golf hole names (if set) are not used for labelling.
// This is because replacing the ref with a name removes the order of the golf holes from the map.
// Previously the name would replace the ref, which was causing mappers to incorrectly put the hole number into the name, e.g. "1 First Hole".
// This is not a valid name, see https://wiki.openstreetmap.org/wiki/Tag:leisure%3Dgolf_course
// See https://github.com/gravitystorm/openstreetmap-carto/pull/5133 for discussion on removal of name.
#text-line:zoom(16) {
  &[feature='golf_hole']:not([ref='']) {
    --text-placement: line;
    --text-size: zoom-gradient(11, 13 17z);
    --text-fill: @golf-color;
    --text-face-name: @book-fonts;
    --text-halo-radius: @standard-halo-radius;
    --text-halo-fill: @standard-halo-fill;
    --text-name: '[ref]';
  }
}

#amenity-points:zoom(16) {
  &[feature='golf_pin'] {
    --marker-symbol: "url('symbols/leisure/golf_pin.svg')";
    --marker-fill: @golf-color;
    --marker-clip: false;
    --marker-transform: translate(0, -5);
  }
}
